version: "3.8"
services:
  mongo:
    image: mongo:6
    container_name: rewardo-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: rewardo-backend
    ports:
      - "4000:4000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/rewardo
      - JWT_SECRET=ChangeThisJWTSecret
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: rewardo-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  mongo_data:
